@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <h5 class="intro"> Este é o SalesWebMVC, faça o seu controle de registros aqui mesmo, registrando seus Departamentos, Vendas e Vendedores</h5>
</div>
