@{
    ViewData["Title"] = "Política de Privacidade";
}
<h2>@ViewData["Title"]</h2>

<p class="politicaPrivacidade divPolitic">A presente Política de Privacidade contém informações sobre coleta, uso, armazenamento, 
    tratamento e proteção dos dados pessoais dos usuários e visitantes do site SalesWebMVC, com
    a finalidade de demonstrar absoluta transparência quanto ao assunto e esclarecer a todos 
interessados sobre os tipos de dados que são coletados, os motivos da coleta e a forma como 
os usuários podem gerenciar ou excluir as suas informações pessoais.</p>
